base64enc
evaluate
highr
htmltools
jsonlite
knitr
markdown
mime
stringi
stringr
tinytex
xfun
yaml
rmarkdown
automap
dplyr
geoR
ggplot2
ggpubr
ggmap
gstat
leaflet
mapview
RColorBrewer
spdep
sp
sf
rgdal
udunit2